@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato:wght@300&display=swap');
/* flex grid from Tania Rascia for small devcies */

.column {
    flex-basis: 100%;
    padding: 15px;
    margin: 5px 0;
  }

  /* end of flex grid mobile */

* {
    margin: 0;
    padding: 0;
    border: none;
}

body{
    font-family:Lato, sans-serif;
    font-weight: 300;
    background: #3a3a3a;
    color: #FFFFFF;
}

p {
    font-size: 22px;
    line-height: 40px;
    margin-top: 12px;
}

/* headings and logos */
h1, h2{
    font-family: Bebas Neue, sans-serif;
    letter-spacing: 4px;
    color: #252525;
}

##logo{
    float: left;
    font-size: 250%;
    margin-left: 30px;
    background: #3a3a3a;
    color: #FFFFFF;
}

/* navigation links */

#menu{
    font-size: 100%;
    letter-spacing: 4px;
}

#menu , #logo{
    line-height: 75px;
}

#menu li{
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a{
    text-decoration: none;
    color: inherit;
}

#menu a:hover{
    border-bottom: 1px solid #3a3a3a;
}

.active{
    border-bottom: 1px solid #3a3a3a;
}

/* hero image */

#hero-outer{
    height: 600px;
    width: 100%;
    overflow: hidden;

    position: relative;
}

#cover-text, #cover-text h2{
    color: #ffffff;
}

#hero-image{
    height: 600px;
    width: 100%;
    background: url('../images/mural\ image.jpg') no-repeat center center;

    /* animates zoom effect on loading page*/
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/* creates the level of zoom for the hero image */
@keyframes hero-zoom{
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.1);
    }
}

.main-container{
    color: #3a3a3a;
    background: #FFFFFF;
    clear: both;
}

section{

    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
}

.active {
    border-bottom: 1px solid #FFFFFF;
}



#cover-text{
    font-size: 130%;
    font-family: Bebas Neue, sans-serif;
    letter-spacing: 4px;

    width: 300 px;
    height: 200 px;

    padding-top: 20px;
    padding-left: 10px;

    background-color: rgba(241, 109, 107, 0.7);

    bottom: 30px;
    right:150px;

    position: absolute;
}

#paragraph{
    font-size: 18px;
    padding: 75px;


}

#caption{
    font-size: 16px;
    padding-left: 40px;
    text-align: center; 
}

/* footer */

footer {
    background: #3a3a3a;
    color: #FFFFFF;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 15px auto;
    max-width: 50%;
}
footer a{
    color: #FFFFFF;
    text-decoration: none;
}

footer a:hover{
    color: rgba(241, 109, 107, 0.7);
    transform: rotate(-5deg) scale(1.25);
}

.social-networks{
    text-align: center;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #3a3a3a;

}

/* three column layout */

#three-column-layout{
    height: 600px;
}

#left-about{
    padding-top: 30px;
    width: 33%;
    float: left;
}

#center-about{
    padding-top: 30px;
    width: 33%;
    float:left;
}

#right-about{
    padding-top: 30px;
    width: 33%;
    float: left;
}

hr {
    border-top: 1px solid #3a3a3a;
    width: 100%;
    margin: 5px 0;
}

.left-about-heading{
    width: 60%;
    line-height: 20px;
    margin: 0 auto;
    clear: both;
    margin-bottom: 50px;
}

.address{
    text-transform: uppercase;
    font-weight: bold;
}

#mama-afrika-container{
    width:100%;
    height:300px;
    overflow:hidden;
    margin: 0 auto;
    padding-bottom: 30px;
}

#mama-afrika-bg{
    background: url('../images/mama-afrika.jpg') no-repeat center center;
    width: auto;
    height:100%;
}

#freddie-container{
    width: 100%;
    height:300px;
    overflow:hidden;
    margin: 0 auto;
    padding-bottom: 30px;
}

#freddie-bg{
    background: url('../images/freddie.jpg') no-repeat center center;
    width: auto;
    height:100%;
}

#grace-container{
    width:100%;
    height:300px;
    overflow:hidden;
    margin: 0 auto;
    padding-bottom: 30px;
}

#grace-bg{
    background: url('../images/amazing-grace.jpg') no-repeat center center;
    width: auto;
    height:100%;
}

.grocer-heading{
    text-align: center;
}

/* flex grid from Tania Rascia for tablets and bigger */ 
@media screen and (min-width: 800px) {
    .row {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
    }
    .column {
      flex: 1;
    }
  }
  /* end of flex grid from Tania Rascia for tablets and bigger */